* {
    margin: 0;
    padding: 0;
    /* Padding reset karna zaruri hai */
    font-family: Arial, sans-serif;
    /* Fallback font add kiya */
    box-sizing: border-box;
    /* YAHAN Galti thi, isko theek kiya hai */
}

.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    cursor: pointer;
}

/* box2 */
.add-first {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 450.5px;
    height: 40px;
    /* Thoda height badhaya achhe look ke liye */
    border-radius: 4px;
}

.search-select {
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
    /* Input me likhne ki jagah theek ki */
    outline: none;
    /* Click karne par black border htane ke liye */
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ffa42c;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* box4 */
span {
    font-size: 0.75em;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 750;
}

/* box6 */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* penel */
.penel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.penel-ops p {
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}

.penel-ops p:hover {
    border: 1px solid white;
}

.penel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.penel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section {
    background-image: url("hero.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Maine yahan se background-position hata diya hai */
}

.hero-msg {
    background-color: white;
    color: black;
    height: 30px; /* Ise wapas 30px kar diya hai */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 40px;
}
 
.hero-msg a {
    color: #007185;
    text-decoration: none;
}

.hero-msg a:hover {
    text-decoration: underline;
}

/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    /* Amazon ka original grey background */
    padding: 20px 0;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.box-content p {
    color: #007185;
}

/* footer */
footer {
    margin-top: 15px;
}

.foot-penel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.foot-penel1:hover {
    background-color: #485769;
}

.foot-penel2 {
    background-color: #232F3E;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.footer-col p {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    /* Bullets hatane ke liye */
}

.footer-col ul li a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
    /* Anchor tag ki underline hatane ke liye */
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.foot-penel3 {
    background-color: #232F3E;
    color: white;
    border-top: 0.5px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-penel {
    background-image: url("amazonlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px;
}

.foot-penel4 {
    background-color: #131A22;
    /* Amazon ka dark footer color */
    color: white;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pages {
    font-size: 0.85rem;
}

.pages a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.pages a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 0.75rem;
    padding-top: 5px;
}